<div>
    <p>Equipment</p>
    <hr>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Rating</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eq of equipment">
                        <td>{{eq.name}}</td>
                        <td>{{eq.description}}</td>
                        <td>{{eq.type}}</td>
                        <td>{{eq.rating}}</td>
                        <td>{{eq.price}}</td>
                        <td>
                            <button color="accent" (click)="onShowCompanies(eq)" mat-icon-button>
                                <mat-icon>Show Companies</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text"/>
            </mat-form-field>
        </div>
    </div>
</div>