<div>
    <p>Equipment</p>
    <hr>
    <div>
        <div>
            <input type="range" id="ratingSlider" min="1" max="5" step="0.1" value="1" (input)="updateSliderValue($event)"><p>{{this.rating}}+</p>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input [(ngModel)]="name" matInput type="text"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select Type</mat-label>
                <mat-select [(ngModel)]="type">
                    <mat-option value="ALL">All Types</mat-option>
                  <mat-option value="TYPE1">Type 1</mat-option>
                  <mat-option value="TYPE2">Type 2</mat-option>
                  <mat-option value="TYPE3">Type 3</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="search()">Search</button>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eq of equipment">
                        <td>{{eq.name}}</td>
                        <td>{{eq.description}}</td>
                        <td>{{eq.type}}</td>
                        <td>{{eq.rating}}</td>
                        <td>
                            <button color="accent" (click)="onShowCompanies(eq.id)" mat-raised-button color="accent">Show Companies</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="isShowingCompanies">
                <p>Companies with this equipment</p>
                <div *ngFor="let company of companies">
                    <li>{{ company.name }} {{ company.description }}</li>   
                </div>          
            </div>
        </div>
    </div>
</div>