<mat-toolbar color="primary">
    <div>
        <div id="buttons">
            <button mat-raised-button color="accent" [routerLink]="['']">Home</button>
            <button *ngIf="user && (user.email === '' || user.role == 'REGISTERED_USER' || user.role == 'SYSTEM_ADMIN')" mat-raised-button color="accent"
                [routerLink]="['companies']">Companies</button>
            <button *ngIf="user && (user.role == 'COMPANY_ADMIN' || user.role == 'SYSTEM_ADMIN')" mat-raised-button color="accent"
                [routerLink]="['equipment']">Equipment</button>

            <!-- Registered User -->
            <button *ngIf="user && user.email !== '' && user.role == 'REGISTERED_USER'" mat-raised-button color="accent"
                            [routerLink]="['user/reservations']">Reservations</button>
            <button *ngIf="user && user.email !== '' && user.role == 'REGISTERED_USER'" mat-raised-button color="accent"
                            [routerLink]="['user/pickups']">Pickups</button>
            <button *ngIf="user && user.email !== '' && user.role == 'REGISTERED_USER'" mat-raised-button color="accent"
                [routerLink]="['user/profile']">Profile</button>

            <!-- Company Admin -->
            <button *ngIf="user && user.role == 'COMPANY_ADMIN'" mat-raised-button color="accent"
                [routerLink]="['company-admin/contracts']">Contracts</button>
            <button *ngIf="user && user.role == 'COMPANY_ADMIN'" mat-raised-button color="accent"
                [routerLink]="['company-admin/profile']">Profile</button>

            <!-- System Admin -->
            <button *ngIf="user && user.email !== '' && user.role == 'SYSTEM_ADMIN'" mat-raised-button color="accent"
                [routerLink]="['admin/profile']">Profile</button>
                
            <button *ngIf="user && user.email === ''" mat-raised-button color="accent" [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.email !== ''" mat-raised-button color="accent" (click)="onLogout()">Logout</button>
        </div>
    </div>
</mat-toolbar>
