<!-- srediti izgled i dodati drugu alternativu, istestirati funkcionalnosti, ca profil dugme tamo -->
<input type="file" (change)="onFileSelected($event)" accept="image/*">
<button (click)="uploadImage()">Upload Image</button>

<div *ngIf="order">
    <div *ngIf="order.isValid  && !order.isTaken">
        <p>{{order.customer}}</p>
        <p>{{order.timeslotStart}}</p>
        <p>{{order.timeslotEnd}}</p>
        <p>{{order.id}}</p>
    
        <p>{{order.equipment}}</p>
        <button (click)="finishTakingOrder()">Finish Primopredaju</button>
    </div>
    <div *ngIf="!order.isValid && !order.isTaken"> <!-- ponistava order i na pogresnog admina -->
        <p>Rok za preuzimanje je prosao, rezervacija se brise, sudija svira penal komada 2</p>
    </div>
    <div *ngIf="order.isTaken">
        <p>Vec je preuzeto</p>
    </div>
</div>