<table mat-table class="mat-elevation-z8" [dataSource]="contracts" matSort>

    <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Hospital </th>
        <td mat-cell *matCellDef="let contract"> {{ contract.hospitalName }} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let contract">{{ formatDate(contract.startDate) }}</td>
    </ng-container>

    <ng-container matColumnDef="equipment">
        <th mat-header-cell *matHeaderCellDef> Equipment </th>
        <td mat-cell *matCellDef="let contract">
            <ng-container *ngFor="let equipment of contract.namedEquipmentQuantities | keyvalue">
                {{ equipment.key }}: {{ equipment.value }}
                <br>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let contract">
          <button class="action-button" (click)="startDelivery(contract)" *ngIf="contract.canStart">Start Delivery</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="size" [length]="totalContracts" showFirstLastButtons
    (page)="onPageChange($event)"></mat-paginator>
