div.profile-container {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px; 
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

div.company-info {
  margin-bottom: 20px;
}

p.description {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

div.address-info {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}

div.equipment-container {
  margin-bottom: 20px;
}

ul.equipment-list {
  list-style-type: none;
  padding: 0;
}

li.equipment-item {
  margin-bottom: 5px;
}

p.rating {
  font-size: 18px;
  font-weight: bold;
  color: #FFD700;
}

.action-button {
  background-color: #a5a5a5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 90px;
}

.action-button:hover {
  background-color: #696969; 
}

ul.reservation-list {
  list-style-type: none;
  padding: 0;
}

li.reservation-item {
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}

.button-description {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}

.equipment-table {
  width: 400px;
  border-collapse: collapse;
}

.equipment-table td {
  border: none;
  padding: 5px;
}

.equipment-table td:first-child {
  width: 200px;
}

.equipment-table td button {
  margin: 0; 
}

.calendar-container {
  width: 100%;
  height: 300px;
}

.finalize-reservation-button {
  background-color: #a5a5a5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 200px;
}